body,html, *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: .4s;
    list-style: none;
    /* font-family: 'Poppins';
    text-align: center; 
    box-sizing: border-box; */
}

a {
    /* text-decoration: none; */
    color: black;
}

#displaynonebas{
    display: none;
}

/* header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.contlogoprinc{
    display: flex;
    justify-content: center;
}

nav{
    width: 93%;
    display: flex;
    justify-content: center;
    border: solid red;
    height: 80px;
}

nav li{
    width: 270px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;


}

nav p{
    font-size: 2em;
}

header ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


#inscrire{
    color: black;
}


.linav:hover{
    background-color: #F9B1B4;
    color: white;
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
/* .linav:nth-child(2) {
    background-color: white;
    align-self: flex-end;
} */
    






/* -----------------Le premier H1 + Recherche--------------- */
h1 {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 1.9em;
    color: #F25C62;
}

label {
    font-size: 1.1em;
    padding-right: 10px;
}

#divsearch {
    display: flex;
    justify-content: center;
}

#divsearch p {
    margin-right: 30px;
    color: white;

}

#divsearch a {
    color: #4450D0;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    color: #F25C62;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 1.2em;
}



#recherche {
    background-color: #F9B1B4;
}

#contimgtxt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.imgdivun {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: center;
    position: relative;
}

.boximg{
    width: 350px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15%;
}


#imageaelargire{
    width: 100%;
}

.titreg p{
    font-size: 1.4em;
}

.titred p{
    /* font-size: 1.4em; */
    color: white;
    /* width: 350px; */

}

#un {
    top: 180px;
    right: 25px;
    text-shadow: 0 -10px 0 #00ecff, 0 -19px 0 black;
    font-size: 1.22em;
    filter: brightness();
}

#deux{
    top: 120px;
    right: 35px;
    text-shadow: 0 -10px 0 #00ecff, 0 -19px 0 black;
    font-size: 1.2em;
    filter: var();
}

#trois{
    top: 255px;
    right: 30px;
    text-shadow: 0 -10px 0 #00ecff, 0 -19px 0 black;
    font-size: 1.5em;
    filter: grayscale();
}

#quatre{
    position: absolute;
    text-shadow: 0 -4px 0 #00ecff, 0 -9px 0 black;
    filter: blur();
    top: 76px;
    left: 46px;
    font-size: 1.5em;
}

#cinq{
    position: absolute;
    filter: invert(1);
    text-shadow: 0 4px 0 #00ecff, 0 -10px 0 black;
    top: 300px;
    font-size: 1.7em;
}

#six{
    position: absolute;
    filter: blur();
    text-shadow: 0 20px 0 #00ecff, 0 -7px 0 black;
    top: 300px;
    right: 30px;
    font-size: 1.6em;
}

.titred{
    position: absolute;
    filter: invert(1);
    text-shadow:0 4px 0 #00ecff, 0 -4px 0 black;
}

/* .titred p{
    width: 350px;
    display: flex;
    justify-content: flex-end;
} */


/* Afficher plus */

#plusopt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#plus{
    position: absolute;
    width: 150px;
    display: flex;
    justify-content: center;
}

#cercle{
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
}



#avenir, #populaires{
    /* height: 200px;
    width: 450px; */
    position: relative;

}

#populaires{
    /* background-color: black;
    display: flex;
    justify-content: center;
    position: relative; */
}

#avenir{
    /* background-color: #00ecff;
    display: flex;
    justify-content: center;
    position: relative; */

}



.boximgopt{
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#boximgoptun{
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}

#boximgoptdeux{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    display: flex;
}

.imgopt{
    width: 100%;
}

#titrepop, #titreavn{
    position: absolute;
}

#titrepop{
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 2em;
}

#titreavn{
    top: 20px;
    right: 20px;
    color: rgb(208, 111, 111);
    font-size: 2em;
}